*{
    scroll-behavior: smooth;
}
.App{
    min-height:100vh ;
    background-color: #2d313a;
    padding:100px 0;
}
.pageTitle{
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}